extends layout.pug

block content
    h1 Books

    p
        a(href="/books/new") Create New Book
    table
        thead
            tr
                th Title
                th Author
                th Genre
                th Year
        tbody
            each book in books
                tr
                    td 
                        a(href=`/books/${book.id}`) #{book.title}
                    td #{book.author}
                    td #{book.genre}
                    td #{book.year}
        
    .pagination-controls
        a(class=(page <= 1 ? "paging-btn disabled" : "paging-btn") href=`/books/${pagesize}/${page - 1}`) &#8249;
        span #{page}
        a(class=(pagesize >= books.length ? "paging-btn disabled" : "paging-btn")  href=`/books/${pagesize}/${page + 1}`) &#8250;

    .page-size-select
        select(name="pagesize")
            option(value="5") 5
            option(value="10") 10
            option(value="15") 15
