extends layout.pug

block content
    if (query)
        h1 Results for #{query}
    else
        h1 Books

    .actionbar
        a(href="/books/new", class="primary-btn") Create New Book

        form(action="/books", method="get", class="search-form")
            input(id="search" type="text", name="searchQuery")
            button(type="submit" class="search-btn") Search

    table
        thead
            tr
                th Title
                th Author
                th Genre
                th Year
        tbody
            each book in books
                tr
                    td 
                        a(href=`/books/${book.id}`) #{book.title}
                    td #{book.author}
                    td #{book.genre}
                    td #{book.year}
        
    .paging-controls
        a(class=(page <= 1 ? "secondary-btn disabled" : "secondary-btn") href=`/books?page=${page - 1}`) &#8249;
        span #{page}
        a(class=(books.length < 10 ? "secondary-btn disabled" : "secondary-btn")  href=`/books?page=${page + 1}`) &#8250;
